%article.reading
  #{reading.username}
  - if RatingPolicy.new(reading, current_user).can_rate?
    = render 'readings/rating_form', reading: reading
  - elsif reading.rated?
    (rating: #{reading.rating})
