.page-header
  =link_to 'Back to Listing', books_path, class: 'pull-right btn'
  %h1
    = @book.title
    %p
      %small ISBN: #{@book.isbn}

- unless @reader.read?(@book)
  %p.pull-right
    = link_to 'I have read this book', book_readings_path(@book), method: :post, class: 'btn btn-info'

- unless @readings.empty?
  %section.readings
    %h4 Read by:
    %ul
      - @readings.each do |reading|
        %li= render reading
